In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
%matplotlib inline

In [2]:
from joblib import parallel_backend
from operator import neg

In [3]:
start_time = time.time()

In [4]:
df=pd.read_csv('city_hour.csv')
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

AS INDEX IS MIXED WE NEED TO FIX THE INDEX

In [5]:
df.reset_index(drop=True,inplace=True)
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01 01:00:00,NaN,NaN,1.00,40.01,36.37,NaN,1.00,122.07,NaN,0.0,0.0,0.0,NaN,NaN
1,Ahmedabad,2015-01-01 02:00:00,NaN,NaN,0.02,27.75,19.73,NaN,0.02,85.90,NaN,0.0,0.0,0.0,NaN,NaN
2,Ahmedabad,2015-01-01 03:00:00,NaN,NaN,0.08,19.32,11.08,NaN,0.08,52.83,NaN,0.0,0.0,0.0,NaN,NaN
3,Ahmedabad,2015-01-01 04:00:00,NaN,NaN,0.30,16.45,9.20,NaN,0.30,39.53,153.58,0.0,0.0,0.0,NaN,NaN
4,Ahmedabad,2015-01-01 05:00:00,NaN,NaN,0.12,14.90,7.85,NaN,0.12,32.63,NaN,0.0,0.0,0.0,NaN,NaN

In [6]:
df.isnull().sum()

City               0
Datetime           0
PM2.5         145088
PM10          296737
NO            116632
NO2           117122
NOx           123224
NH3           272542
CO             86517
SO2           130373
O3            129208
Benzene       163646
Toluene       220607
Xylene        455829
AQI           129080
AQI_Bucket    129080
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707875 entries, 0 to 707874
Data columns (total 16 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   City        707875 non-null  object
 1   Datetime    707875 non-null  object
 2   PM2.5       562787 non-null  float64
 3   PM10        411138 non-null  float64
 4   NO          591243 non-null  float64
 5   NO2         590753 non-null  float64
 6   NOx         584651 non-null  float64
 7   NH3         435333 non-null  float64
 8   CO          621358 non-null  float64
 9   SO2         577502 non-null  float64
 10  O3          578667 non-null  float64
 11  Benzene     544229 non-null  float64
 12  Toluene     487268 non-null  float64
 13  Xylene      252046 non-null  float64
 14  AQI         578795 non-null  float64
 15  AQI_Bucket  578795 non-null  object
dtypes: float64(13), object(3)
memory usage: 86.4+ MB

**DEALING WITH MISSING VALUES**

In [8]:
df['PM2.5']=df['PM2.5'].fillna(df['PM2.5'].mean())
df['PM10']=df['PM10'].fillna(df['PM10'].mean())
df['NO']=df['NO'].fillna(df['NO'].mean())
df['NO2']=df['NO2'].fillna(df['NO2'].mean())
df['NOx']=df['NOx'].fillna(df['NOx'].mean())
df['NH3']=df['NH3'].fillna(df['NH3'].mean())
df['CO']=df['CO'].fillna(df['CO'].mean())
df['SO2']=df['SO2'].fillna(df['SO2'].mean())
df['O3']=df['O3'].fillna(df['O3'].mean())
df['Benzene']=df['Benzene'].fillna(df['Benzene'].mean())
df['Toluene']=df['Toluene'].fillna(df['Toluene'].mean())
df['Xylene']=df['Xylene'].fillna(df['Xylene'].mean())

In [9]:
df.dropna(how='any', inplace=True)


**FOR Missing VALUES : MEAN()**

In [10]:
df.head()

,City,Datetime,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
680,Ahmedabad,2015-01-29 09:00:00,80.47,119.075804,1.42,21.90,20.65,23.607959,1.42,32.26,46.71,0.0,0.0,2.07,288.0,Poor
681,Ahmedabad,2015-01-29 10:00:00,87.80,119.075804,2.03,19.87,22.22,23.607959,2.03,78.95,21.88,0.0,0.0,2.13,181.0,Moderate
682,Ahmedabad,2015-01-29 11:00:00,90.53,119.075804,1.72,20.11,22.12,23.607959,1.72,95.86,67.67,0.0,0.0,3.45,182.0,Moderate
683,Ahmedabad,2015-01-29 12:00:00,83.53,119.075804,0.75,16.35,16.48,23.607959,0.75,44.91,88.92,0.0,0.0,3.25,182.0,Moderate
684,Ahmedabad,2015-01-29 13:00:00,68.40,119.075804,0.58,13.73,12.50,23.607959,0.58,34.57,116.75,0.0,0.0,2.85,179.0,Moderate

In [11]:
df.drop(['Datetime'],axis=1,inplace=True)
df.drop(['AQI_Bucket'],axis=1,inplace=True)
df.drop(['City'],axis=1,inplace=True)
df.head()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
680,80.47,119.075804,1.42,21.90,20.65,23.607959,1.42,32.26,46.71,0.0,0.0,2.07,288.0
681,87.80,119.075804,2.03,19.87,22.22,23.607959,2.03,78.95,21.88,0.0,0.0,2.13,181.0
682,90.53,119.075804,1.72,20.11,22.12,23.607959,1.72,95.86,67.67,0.0,0.0,3.45,182.0
683,83.53,119.075804,0.75,16.35,16.48,23.607959,0.75,44.91,88.92,0.0,0.0,3.25,182.0
684,68.40,119.075804,0.58,13.73,12.50,23.607959,0.58,34.57,116.75,0.0,0.0,2.85,179.0

In [12]:
df.describe()

,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI
count,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000,578795.000000
mean,67.512010,119.435100,17.500038,29.255534,32.337963,23.875553,2.272764,14.013576,35.220588,3.289538,9.286367,3.323889,166.413500
std,71.842035,86.606016,31.623087,28.706433,37.149991,24.544682,11.020058,18.528365,29.080926,15.570373,19.542961,5.050779,162.112729
min,0.010000,0.010000,0.010000,0.010000,0.000000,0.010000,0.000000,0.010000,0.010000,0.000000,0.000000,0.000000,8.000000
25%,27.300000,69.220000,4.000000,11.270000,11.960000,11.160000,0.510000,5.140000,14.530000,0.270000,1.370000,2.980000,79.000000
50%,49.220000,119.075804,8.300000,21.620000,23.270000,23.607959,0.880000,9.010000,28.550000,1.680000,6.610000,3.130537,116.000000
75%,76.780000,119.075804,17.421755,35.920000,34.970000,23.607959,1.570000,14.160000,46.370000,3.087595,8.660927,3.130537,208.000000
max,999.990000,1000.000000,498.970000,499.510000,498.610000,499.970000,498.570000,199.960000,497.620000,498.070000,499.400000,499.990000,3133.000000

**AS AQI IS DEPENDENT VARIABLE WE DROPING IT FROM DATASET AND PUTING IT IN Y**

In [13]:
X=df.drop(['AQI'],axis=1)
y=df['AQI']
print(X.shape)
print(y.shape)

(578795, 12)
(578795,)

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

**Linear Regression**

In [15]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()

In [16]:
start_time1 = time.time()
with parallel_backend('loky'):
    model1.fit(X_train,y_train)
LR_time= time.time() - start_time1

In [17]:
prediction1=model1.predict(X_test)

In [18]:
#Root Mean Square Error
from sklearn import metrics
rs1=np.sqrt(metrics.mean_squared_error(y_test,prediction1))
print(" Linear Regression RMSE=",rs1)
print(" Linear Regression Time in seconds=",LR_time)

 Linear Regression RSME= 104.22073074935776
 Linear Regression Time in seconds= 0.0485377311706543

**RANDOM FOREST REGRESSOR**

In [19]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor()

In [20]:
start_time2 = time.time()
with parallel_backend('loky'):
    model2.fit(X_train,y_train)
RF_time= time.time() - start_time2

In [21]:
prediction2=model2.predict(X_test)

In [22]:
#Root Mean Square Error
from sklearn import metrics
rs2=np.sqrt(metrics.mean_squared_error(y_test,prediction2))
print(" Rabdom Forest RMSE=",rs2)
print(" Rabdom Forest Time in seconds=",RF_time)

 Rabdom Forest RSME= 80.03962571015872
 Rabdom Forest Time in seconds= 101.47873210906982

**GRADIENT BOOSTING REGRESSOR**

In [23]:
from sklearn.ensemble import GradientBoostingRegressor
model3=GradientBoostingRegressor()

In [24]:
start_time3 = time.time()
with parallel_backend('loky'):
    model3.fit(X_train,y_train)
GB_time= time.time() - start_time3

In [25]:
prediction3=model3.predict(X_test)

In [26]:
#Root Mean Square Error
from sklearn import metrics
rs3=np.sqrt(metrics.mean_squared_error(y_test,prediction3))
print(" Gradient Boosting RMSE=",rs3)
print(" Gradient Boosting Time in seconds=",GB_time)

 Gradient Boosting RSME= 92.91555798917858
 Gradient Boosting Time in seconds= 104.55764508247375

***Final Results***

In [27]:
print("We got following RMSE by applying different regression:\n\n")
print("Linear Regression=",rs1,'time in seconds=',LR_time,"\n")
print("Random Forest Regression=",rs2,'time in seconds=',RF_time,"\n")
print("Gradient  BoostingRegression=",rs3,'time in seconds=',GB_time,"\n")

We got following RMSE by applying different regression:


Linear Regression= 104.22073074935776 time in seconds= 0.0485377311706543

Random Forest Regression= 80.03962571015872 time in seconds= 101.47873210906982

Gradient  BoostingRegression= 92.91555798917858 time in seconds= 104.55764508247375

In [28]:
print("--- %s total time in seconds ---" % (time.time() - start_time))

--- 224.90950798988342 total time in seconds ---